<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trevor.dao.RoomMapper">

    <!-- 插入一条记录并返回主键 -->
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id">
        insert into
        `room`(`get_room_time` ,`room_auth` ,`state` ,`room_type` ,`room_config`)
        values (#{room.getRoomTime} ,#{room.roomAuth} ,#{room.state} ,#{room.roomType} ,#{room.roomConfig})
    </insert>

    <update id="updateState_0">
        update `room`
        set
        state=0
        WHERE
        id in
        <foreach collection="ids" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!-- 根据主键查询一条记录 -->
    <select id="findOneById" resultType="com.trevor.domain.Room">
        select
        id id,
        get_room_time getRoomTime,
        room_auth roomAuth,
        state state,
        room_type roomType,
        room_config roomConfig
        from
        `room`
        where
        id=#{id}
    </select>
    <select id="findRoomAuthIdByRoomId" resultType="java.lang.Long">
        select
        room_auth
        from
        `room`
        where
        id=#{roomId}
    </select>
    <select id="findByGetRoomTimeAndState_1" resultType="java.lang.Long">
        select
        id id
        from
        `room`
        where
        get_room_time &lt; #{time}
        and
        state = 1
    </select>
    <select id="findByIds" resultType="com.trevor.domain.Room">
        select
        id id,
        room_auth roomAuth,
        room_config roomConfig
        from
        `room`
        where
        id in
        <foreach collection="ids" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>