<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trevor.dao.RoomPokeInitMapper">

    <insert id="insertOne">
        INSERT  INTO
        `room_poke_init`(room_record_id ,user_pokes ,user_scores,runing_num,total_num,status,entry_date)
        VALUES (#{roomPokeInit.roomRecordId} ,#{roomPokeInit.userPokes} ,#{roomPokeInit.userScores}
        ,#{roomPokeInit.runingNum},#{roomPokeInit.totalNum},#{roomPokeInit.status},#{roomPokeInit.entryDate})
    </insert>

    <update id="updateRoomPoke">
        update
        room_poke_init
        set
        user_pokes=#{roomPokeInit.userPokes},
        user_scores=#{roomPokeInit.userScores},
        runing_num=#{roomPokeInit.runingNum}
        where
        room_record_id=#{roomPokeInit.roomRecordId}
    </update>

    <update id="updateStatus_3">
        <foreach collection="roomRecordIds" item="item" index="index" open="" close="" separator=";">
            update room_poke_init
            set
            status=3
            where
            room_record_id=#{item}
        </foreach>

    </update>

    <select id="findStatus_0" resultType="com.trevor.domain.RoomPokeInit">
        select
        *
        from
        `room_poke_init`
        where
        status=0
    </select>

    <select id="findRoomRecordIdsStatus_0AndRoomRecordIds" resultType="java.lang.Long">
        select
        room_record_id
        from
        room_poke_init
        where
        status=0
        and
        room_record_id in
        <foreach collection="roomRecordIds" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

</mapper>