<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trevor.common.dao.mysql.CardConsumRecordMapper">

    <insert id="insertOne">
        insert into card_consum_record
        set
        room_id=#{cardConsumRecord.roomId},
        room_auth=#{cardConsumRecord.roomAuth},
        consum_num=#{cardConsumRecord.consumNum}
    </insert>

    <delete id="deleteByRoomRecordIds">
        delete
        from
        card_consum_record
        where
        room_id in
        <foreach collection="roomRecordIds" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>