<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trevor.common.dao.mysql.RoomMapper">

    <!-- 插入一条记录并返回主键 -->
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="id">
        insert into
        `room`(`entry_time` ,`room_auth` ,`status` ,`room_type` ,`runing_num` ,`total_num`)
        values (#{room.entryTime} ,#{room.roomAuth} ,#{room.status} ,#{room.roomType} ,#{room.runingNum} ,#{room.totalNum})
    </insert>

    <update id="updateStatus_3">
        update
        room
        set
        status=3
        WHERE
        id in
        <foreach collection="roomIds" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <update id="updateRuningNum">
        update
        room
        set
        runing_num=#{runingNum}
        WHERE
        id=#{roomId}
    </update>
    <update id="updateStatus">
        update
        room
        set
        status=#{status}
        <if test="runingNum != null">
            ,runing_num=#{runingNum}
        </if>
        WHERE
        id=#{roomId}
    </update>

    <!-- 根据主键查询一条记录 -->
    <select id="findOneById" resultType="com.trevor.common.domain.mysql.Room">
        select
        id id,
        entry_time entryTime,
        room_auth roomAuth,
        status status,
        room_type roomType,
        runing_num runingNum,
        total_num totalNum
        from
        `room`
        where
        id=#{id}
    </select>

    <select id="findRoomAuthIdByRoomId" resultType="java.lang.Long">
        select
        room_auth
        from
        `room`
        where
        id=#{roomId}
    </select>

    <select id="findByGetRoomTimeAndState_1" resultType="java.lang.Long">
        select
        id id
        from
        `room`
        where
        get_room_time &lt; #{time}
        and
        state = 1
    </select>

    <select id="findByIds" resultType="com.trevor.common.domain.mysql.Room">
        select
        id id,
        room_auth roomAuth,
        room_config roomConfig
        from
        `room`
        where
        id in
        <foreach collection="ids" item="id"  open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <select id="findByEntryTimeAndStatus_0" resultType="java.lang.Long">
        select
        id id
        from
        room
        where
        status=0
        and
        entry_time &lt; #{entryTime}
    </select>

    <select id="findStatus" resultType="com.trevor.common.domain.mysql.Room">
        select
        id id,
        entry_time entryTime,
        room_auth roomAuth,
        status status,
        room_type roomType,
        runing_num runingNum,
        total_num totalNum
        from
        `room`
        where
        status in
        <foreach collection="statusList" item="status"  open="(" separator="," close=")">
            #{status}
        </foreach>
    </select>
</mapper>